<div class="MainDiv">
    <img src="../../assets/ProfilePictureCircle.png" alt="Clayton Kristiansen" width="300" height="300" class="ProfilePicture" (click)="GoToLinkedIn()">
</div>
<div>
    <h1 class="SectionHeader">About Me</h1>
    <p class="paragraph">Howdy, my name is Clayton Kristiansen and I am a Senior Computer Engineering major at Texas A&M University. I have a passion for writing code, 
        and have been doing so since almost the day I could type. I find all forms of programming enjoyable, whether it be programming microcontrollers or making web apps. 
        In school I focused primarily on writing low level code and hyper-efficient algorithms. I also took a few classes about Machine Learning and AI, at least enough to 
        be afraid of them. In industry I just want to have fun solving problems by writing code.</p>
    <p class="paragraph">I grew up in Duvall, Washington and have always loved spending my time in the outdoors. My time in Boy Scouts helped instill a deep and genuine 
        appreciation for nature and everything in it. Whether it be hiking, backpacking, skiing, snowboarding, surfing, or kayaking you will often find me out in the wilderness. 
        I also have a healthy addiction to strategy games. My all time favorites include Europa Universalis, Hearts of Iron, and of course... Minecraft. 
    </p>
    <h1 class="SectionHeader">Contact</h1>
    <p class="CenteredItem">Email:&nbsp;<a href="mailto:clayton.kristiansen@hotmail.com">clayton.kristiansen@hotmail.com</a></p>
</div>