div.MainDiv {
    margin: 5px;
}

mat-toolbar {
    height: 60px;
    background-color: #500000;
    color: white;
}

mat-drawer.MyDrawer {
    background-color: "white";
    width: 160px;
    margin-top: 60px;
}

mat-drawer-content.MyDrawerContent {
    height: 100px;
}

mat-drawer-container.MyContainer {
    height: 100%;
    width: 100%;
}

button.SandwitchButton {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}

button.SideButton {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    font-size: large;
    text-align: left;
    cursor:pointer;
}

button.SideButton:hover {
    font-weight: bold;
    background-color: #50000060;
}

#Home {
    background-color: transparent;
    border: none;
    color: white;
    font-size: x-large;
    cursor:pointer;
}

#GitHubIcon {
    cursor: pointer;
}

#LinkedInIcon {
    cursor: pointer;
}

mat-icon {
    color: white;
}

#ToolbarSpacer1 {
    width: 10px;
}

#ToolbarSpacer2 {
    flex: 1 1 auto;
}

div.RouterOutletDiv {
    padding: 10px 10px 10px 10px;
}