<mat-drawer-container class="MyContainer">
    <mat-drawer #drawer class="MyDrawer" mode="over">
        <div>
            <button class="SideButton" (click)="GoToMain()">Home</button>
        </div>
        <div>
            <button class="SideButton" (click)="GoToGitHub()">GitHub</button>
        </div>
        <div>
            <button class="SideButton" (click)="GoToLinkedIn()">LinkedIn</button>
        </div>
        <div>
            <button class="SideButton" (click)="GoToPortfolio()">Portfolio</button>
        </div>
        <div>
            <button class="SideButton" (click)="GoToCoolAlgorithms()">Cool Algorithms</button>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar>
            <button class="SandwitchButton" (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span id="ToolbarSpacer1"></span>
            Clayton Kristiansen
            <span id="ToolbarSpacer2"></span>
            Social Links
        </mat-toolbar>
        <div class="RouterOutletDiv">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
